.board {
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

.field {
  border: 1px solid black;
  box-shadow: 0.5px 0.5px 1px 1.2px rgb(12, 12, 12, 0.6);
  height: 65px;
  width: 65px;
}

.piece {
  width: 85%;
}
